.btn {
	position: relative;
	display: inline-block;
	font-weight: $btn-font-weight;
	line-height: $btn-line-height;
	color: $body-color;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: $btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
	// padding: $btn-padding-y $btn-padding-x;
	// font-size: $btn-font-size;
	// border-radius: $btn-border-radius;
	box-shadow: $btn-box-shadow;
	cursor: pointer;
	transition: $btn-transition;
	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		opacity: $btn-disabled-opacity;
		box-shadow: none;
		> * { // 对所有事件禁用
			pointer-events: none;
		}
	};
}

.btn-large {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);	
}

.btn-small {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);	
}

.btn-primary {
	@include button-style($primary, $primary, $white)
}


.btn-default {
	@include button-style($white, $gray-400, $body-color, $white, $primary, $primary)
}

.btn-dashed {
	@include button-style($white, $gray-400, $dark, $white, $primary, $primary);
	border-style: dashed;
}

.btn-danger {
	@include button-style($white, $danger, $danger)
}
.btn-danger.btn-primary {
	@include button-style($danger, $danger, $white)
}

.btn-link {
	font-weight: $font-weight-normal;
	color: $btn-link-color;
	text-decoration: $link-decoration;
	box-shadow: none;
	&:hover {
		color: $btn-link-hover-color;
		text-decoration: $link-hover-decoration;
	}
	&:focus,
	&.focus {
		text-decoration: $link-hover-decoration;
		box-shadow: none;
	}
	&:disabled,
	&.disabled {
		color: $btn-link-disabled-color;
		pointer-events: none;
	}
}

// .btn-circle {
// 	border-radius: 50%;
// }

.btn-loading-icon {
	display: inline-block;
	transition: width .3s cubic-bezier(.645,.045,.355,1),opacity .3s cubic-bezier(.645,.045,.355,1);
}
