

.anticon-loading{
	transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
	display: inline-block;
	color: inherit;
	font-style: normal;
	line-height: 0;
	text-align: center;
	text-transform: none;
	vertical-align: 0.1em;
	text-rendering: optimizelegibility;
	animation: none;
	padding-right: 8px;
	>* {
		line-height: 1;
	};
	svg {
		animation: loadingCircle 1s infinite linear;
		display: inline-block;
	}
}

@keyframes loadingCircle {
	100% {
		transform: rotate(360deg);
	}
}